<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.utry.openticket.dao.IFieldTypeValueDAO">

    <insert id="saveFieldTypeValue" parameterType="java.util.List">
        insert into ot_field_type_value(field_id,value)
        values
            <foreach collection="list" item="fieldTypeValue" separator=",">
                (
                    #{fieldTypeValue.fieldId},
                    #{fieldTypeValue.value}
                )
            </foreach>
    </insert>

    <select id="getFieldTypeValue" parameterType="java.lang.Integer" resultType="java.lang.String">
        select value
        from ot_field_type_value
        where field_id = #{value}
    </select>
</mapper>   
 